.App{
  width: 100vw;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
}

.array-container{
  display: flex;
  text-align: center;
}
.array-bar{
  text-align: center;
  position: 'relative';
  background-color: cyan;
  display: inline-block;
  border: 1px solid black;
  margin-left: 3px;
}